APP_NAME="Reysa Discord API Harness"
APP_ENV=local
APP_KEY=base64:qiwzTg8MXJGK31FmlzAldir7YUNLEL3JoL+Tr+aF3L4=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stack
LOG_LEVEL=debug

# --- Fill these in with your own Discord application/bot to test against ---
DISCORD_BOT_TOKEN=
GUILD_ID=

# Only needed if you're testing the OAuth2 endpoints/flows
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
